:root {
    --bg-color: #f8fafc;
    --border-color: #e2e8f0;
    --text-color: #000;
    --card-bg: #fff;
    --primary-color: #0D7FF2;
    --secondary-color: #709ecc;
    --done-bg: #3B82F6;
    --done-color: #fff;
    --delete-bg: #DBEAFE;
    --delete-color: #1E40AF;
    --btn-hover: #3359d7;
    --theme-color: #e8e8e8
}

body.dark-mode {
    --bg-color: #0B1120;
    --border-color: #334155;
    --text-color: #e2e8f0;
    --card-bg: #1E293B;
    --primary-color: #38BDF8;
    --secondary-color: #94A3B8;
    --done-bg: #2563EB;
    --delete-bg: #334155;
    --delete-color: #e2e8f0;
    --btn-hover: #38BDF8;
    --theme-color: #29264c;
}     

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color);
    transition: all 0.125s ease;
}

.container {
    width: 90%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

header {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid var(--border-color);
    color: var(--text-color);
    margin-bottom: 32px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.logo-img svg * {
    stroke: var(--primary-color);
}

.logo-text {
    font-size: 16px;
    font-weight: 450;
}

.side-menu {
    display: flex;
    align-items: center;
}

.pending-tasks {
    margin-right: 8px;
    font-size: 14px;
}

.theme {
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 100px;
    background-color: var(--theme-color);
    cursor: pointer;
}
    
#tasks {
    display: flex;
    justify-content: center;
}

#tasks .container {
    display: flex;
    width: 75%;
}

.no-display {
    display: none;
}

.sun-icon-svg {
    width: 18px; 
    height: 18px; 
}

.sun-icon-svg circle {
        fill: none; 
        stroke: white; 
        stroke-width: 9; 
}

.sun-icon-svg line {
    stroke: white; 
        stroke-width: 9; 
        stroke-linecap: round; 
}

.new-task {
    width: 25%;
    height: fit-content;
    border-radius: 24px;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    padding: 24px;
    margin-right: 44px;
}

.new-task-title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: var(--text-color);
}

.task-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.task-input input, .task-input select, .filters select{
    border-radius: 4px;
    height: 32px;
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
    color: var(--text-color);
    padding-left: 8px;
}

.task-input input:focus {
    outline-color: var(--primary-color);
}

.task-input label {
    font-weight: 400;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 28px;
}

.btn button {
    width: 100%;
    background-color: var(--primary-color); 
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    color: var(--done-color);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn button:hover {
    transform: scale(1.03);
}

.all-tasks {
    width: 100%;
}

.tasks-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.my-tasks{
    font-size: 26px;
    font-weight: 500;
    border-bottom: 2px solid var(--text-color);
    color: var(--text-color);
}

.my-tasks span {
    display: inline-block;
    width: 28px;
}

.filters {
    display: flex;
}

.category-filter {
    margin-right: 16px;
}

.task-list li {
    list-style: none;
    margin-bottom: 20px;
}

.task-card {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    padding: 18px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 2.4px 2.4px 3.2px;
}

.task-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}

.task-category {
    margin-bottom: 12px;
    color: var(--secondary-color);
    font-size: 13px;
}

.task-date {
    color: var(--secondary-color);
    font-size: 13px;
    margin-bottom: 8px;
}

.task-date span {
    font-size: 12px;
    color: var(--text-color);
}

.task-btns {
    box-sizing: border-box;
}

.done-btn {
    margin-right: 8px;
    padding: 6px 8px;
    border-radius: 4px;
    background-color: var(--done-bg);
    border: none;
    color: var(--bg-color);
    transition: all 0.3s ease;
    cursor: pointer;
}

.delete-btn {
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    background-color: var(--delete-bg);
    color: var(--delete-color);
    transition: all 0.3s ease;
    cursor: pointer;
}

.delete-btn:hover, .done-btn:hover {
    background-color: var(--btn-hover);
    color: var(--card-bg);
}

.task-priority-icon .icon{
    border-radius: 20px;
    padding: 4px 12px;
    font-weight: bold;
    display: block;
    font-size: 12px;
}

.high {
    background-color: #FEE2E2;
    color: #991B1B;
}

.medium {
    background-color: #FEF9C3;
    color: #864F10;
}

.low {
    background-color: #DCFCE7;
    color: #166534;
}

.task-card.task-done .task-title {
    text-decoration: line-through;
}

.task-card.task-done {
    opacity: 0.6;
}

.filters select {
    border-radius: 4px;
    height: 32px;
    border: 1px solid var(--border-color);
    padding: 0 8px;
}

.filters {
    display: flex;
    align-items: center; 
}

.category-filter {
    margin-right: 16px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .new-task {
        width: 100%;
    }

    .my-tasks {
        font-size: 16px;
        border: none;
    }

    .tasks-top {
        margin-top: 24px;
    }
}