* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #F8FAFC;
}

.container {
    width: 90%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

header {
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid #E2E8F0;
    margin-bottom: 32px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.logo-img svg * {
    stroke: #0D7FF2;
}

.logo-text {
    font-size: 16px;
    font-weight: 450;
}

.side-menu {
    display: flex;
    align-items: center;
}

.pending-tasks {
    margin-right: 8px;
    font-size: 14px;
}

.theme {
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 100px;
}
    
#tasks {
    display: flex;
    justify-content: center;
}

#tasks .container {
    display: flex;
    width: 75%;
}

.new-task {
    width: 25%;
    border-radius: 24px;
    border: 1px solid #E2E8F0;
    padding: 24px;
    margin-right: 44px;
}

.new-task-title {
    margin-bottom: 20px;
}

.task-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.task-input input{
    border-radius: 4px;
    height: 32px;
    border: 1px solid #E2E8F0;
    padding-left: 8px;
}

.task-input input:focus {
    outline-color: #0D7FF2;
}

.task-input label {
    font-weight: 400;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 28px;
}

.btn button {
    width: 100%;
    background-color: #0D7FF2;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
}

.all-tasks {
    width: 100%;
}

.tasks-top {
    display: flex;
    justify-content: space-between;
}

.filters {
    display: flex;
}

.category-filter {
    margin-right: 16px;
}