* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #F8FAFC;
}

.container {
    width: 90%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

header {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #E2E8F0;
    margin-bottom: 32px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.logo-img svg * {
    stroke: #0D7FF2;
}

.logo-text {
    font-size: 16px;
    font-weight: 450;
}

.side-menu {
    display: flex;
    align-items: center;
}

.pending-tasks {
    margin-right: 8px;
    font-size: 14px;
}

.theme {
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 100px;
}
    
#tasks {
    display: flex;
    justify-content: center;
}

#tasks .container {
    display: flex;
    width: 75%;
}

.new-task {
    width: 25%;

    border-radius: 24px;
    border: 1px solid #E2E8F0;
    padding: 24px;
    margin-right: 44px;
}

.new-task-title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.task-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.task-input input, .task-input select{
    border-radius: 4px;
    height: 32px;
    border: 1px solid #E2E8F0;
    padding-left: 8px;
}

.task-input input:focus {
    outline-color: #0D7FF2;
}

.task-input label {
    font-weight: 400;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 28px;
}

.btn button {
    width: 100%;
    background-color: #0D7FF2;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
}

.all-tasks {
    width: 100%;
}

.tasks-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.my-tasks{
    font-size: 26px;
    font-weight: 500;
    border-bottom: 2px solid #000;
}

.my-tasks span {
    display: inline-block;
    width: 28px;
}

.filters {
    display: flex;
}

.category-filter {
    margin-right: 16px;
}

.task-list li {
    list-style: none;
}

.task-card {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 1px solid #E2E8F0;
    padding: 18px;
    border-radius: 8px;
}

.task-title {
    font-size: 20px;
    font-weight: 600;
}

.task-category {
    margin-bottom: 12px;
    color: #709ecc;
    font-size: 13px;
}

.task-date {
    color: #709ecc;
    font-size: 13px;
    margin-bottom: 8px;
}

.task-date span {
    font-size: 12px;
    color: #000;
}

.task-btns {
    box-sizing: border-box;
}

.done-btn {
    margin-right: 8px;
    padding: 6px 8px;
    border-radius: 4px;
    background-color: #3B82F6;
    border: none;
    color: #F8FAFC;
    transition: all 0.3s ease;
}

.delete-btn {
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    background-color: #DBEAFE;
    color: #1E40AF;
    transition: all 0.3s ease;
}

.delete-btn:hover, .done-btn:hover {
    background-color: #3359d7;
    color: #FFF;
}

.task-priority-icon .icon{
    border-radius: 20px;
    padding: 4px 12px;
    font-weight: bold;
    display: block;
    font-size: 12px;
}

.high {
    background-color: #FEE2E2;
    color: #991B1B;
}

.medium {
    background-color: #FEF9C3;
    color: #864F10;
}

.low {
    background-color: #DCFCE7;
    color: #166534;
}



/* 
    - Mudar estilo caixa de selecao
*/